comet-ml
yfinance
pandas
numpy
python-dotenv
pyotp
smartapi-python
pycryptodome
logzero
websocket-client
requests
beautifulsoup4
nsepy
jugaad-trader
gspread
google-auth
openpyxl
PyYAML
scipy
pyarrow
pyotp
smartapi-python
